@mixin btn {
    border: none;
    position: relative;
    color: white;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before {
        background: linear-gradient(90deg, #ffa6fa 35%, #3c79d5 98.81%);
        z-index: -2;
        animation: rotate 3s linear infinite alternate;
    }
    &::after {
        background: linear-gradient(
            -90deg,
            #ff56f6 21.43%,
            #b936ee 50.63%,
            #3bace2 100%,
            #406aff 117.04%
        );
        z-index: -1;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
