@import './libs/bootstrap-reboot.min';

@import './base/variables';
@import './base/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 6620px;
    position: relative;
    background: url('../img/background.png') center center/cover no-repeat;
}

@import './block/introduction';
@import './block/partners';
@import './block/rating';
@import './block/collection';
@import './block/people-profile';
