@import './libs/bootstrap-reboot.min';

@import './base/variables';
@import './base/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    position: relative;
    background: url('../img/background.png') center center/cover no-repeat;
}

.swiper {
    overflow: hidden;
    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@import './block/burger';
@import './block/sidemenu';
@import './block/introduction';
@import './block/partners';
@import './block/rating';
@import './block/category';
@import './block/people-profile';
@import './block/sellers';
@import './block/about-nft';
@import './block/subscribe';
@import './block/footer';
