.about-nft {
    margin-top: 160px;
    width: 100%;
    height: 556px;
    background: url('../img/unsplash_KJhfznmFt-Q.png') center center/cover no-repeat;
    position: relative;

    &__info {
        width: 577px;
        height: 473px;
        padding: 58px 48px 51px 71px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(72.8013px);
        position: absolute;
        right: 141px;
        bottom: -133px;
        border-radius: 3px;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(113.62deg, #616161 0%, rgba(255, 255, 255, 0) 96.25%) 1;
    }

    &__title {
        font-family: 'Inter';
        font-weight: 800;
        font-size: 45px;
    }

    &__text {
        margin-top: 18px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
    }

    &__references {
        margin-top: 45px;
        display: flex;
    }

    &__link {
        margin-right: 45px;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 18px;
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
            opacity: 0.9;
        }
    }

    &__watch {
        width: 128px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
            opacity: 0.9;
        }
        img {
            width: 12px;
            height: 18px;
        }
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .about-nft {
        margin-top: 110px;
        padding-left: 17px;
        height: 300px;

        &__info {
            width: 300px;
            height: 275px;
            padding: 34px 28px 28px 41px;
            top: 40%;
            left: 50%;
            right: 0;
            bottom: 0;
            transform: translateX(-50%);
        }

        &__title {
            font-size: 22px;
        }

        &__text {
            margin-top: 10px;
            font-size: 10px;
            line-height: 21px;
        }

        &__references {
            margin-top: 20px;
        }

        &__link {
            font-size: 10px;
            margin-right: 26px;
        }

        &__watch {
            width: 75px;
            font-size: 10px;
            line-height: 16px;
            img {
                width: 7px;
                height: 10px;
            }
        }
    }
}
@media (min-width: 375px) and (max-width: 425px) {
    .about-nft {
        margin-top: 110px;
        padding-left: 17px;
        height: 300px;

        &__info {
            width: 335px;
            height: 275px;
            padding: 34px 28px 28px 41px;
            top: 40%;
            left: 50%;
            right: 0;
            bottom: 0;
            transform: translateX(-50%);
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            margin-top: 10px;
            font-size: 12px;
            line-height: 21px;
        }

        &__references {
            margin-top: 20px;
        }

        &__link {
            font-size: 10px;
            margin-right: 26px;
        }

        &__watch {
            width: 75px;
            font-size: 10px;
            line-height: 16px;
            img {
                width: 7px;
                height: 10px;
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 575px) {
    .about-nft {
        margin-top: 110px;
        padding-left: 17px;
        height: 300px;

        &__info {
            width: 335px;
            height: 275px;
            padding: 34px 28px 28px 41px;
            top: 40%;
            left: 50%;
            right: 0;
            bottom: 0;
            transform: translateX(-50%);
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            margin-top: 10px;
            font-size: 12px;
            line-height: 21px;
        }

        &__references {
            margin-top: 20px;
        }

        &__link {
            font-size: 10px;
            margin-right: 26px;
        }

        &__watch {
            width: 75px;
            font-size: 10px;
            line-height: 16px;
            img {
                width: 7px;
                height: 10px;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .about-nft {
        margin-top: 110px;
        padding-left: 17px;
        height: 300px;

        &__info {
            width: 335px;
            height: 275px;
            padding: 34px 28px 28px 41px;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            margin-top: 10px;
            font-size: 12px;
            line-height: 21px;
        }

        &__references {
            margin-top: 20px;
        }

        &__link {
            font-size: 10px;
            margin-right: 26px;
        }

        &__watch {
            width: 75px;
            font-size: 10px;
            line-height: 16px;
            img {
                width: 7px;
                height: 10px;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .about-nft {
        margin-top: 110px;
        height: 300px;
        
        &__info {
            width: 335px;
            height: 275px;
            padding: 34px 28px 28px 41px;
        }

        &__title {
            font-size: 26px;
        }

        &__text {
            margin-top: 10px;
            font-size: 12px;
            line-height: 21px;
        }

        &__references {
            margin-top: 20px;
        }

        &__link {
            font-size: 10px;
            margin-right: 26px;
        }

        &__watch {
            width: 75px;
            font-size: 10px;
            line-height: 16px;
            img {
                width: 7px;
                height: 10px;
            }
        }
    }
}
@media (min-width: 1025px) and (max-width: 1484px) {
}
