.footer {
    padding: 0 129px 0 83px;

    &__wrapper {
        padding: 96px 0 86px;
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 338px;
    }

    &__logo {
        height: 26px;
        display: flex;
        text-decoration: none;
        &-title {
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 20px;
            color: white;
            span {
                opacity: 0.6;
            }
        }
    }

    &__text {
        margin-top: 31px;
        width: 282px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #d9dbe1;
    }

    &__social {
        margin-top: 27px;
        width: 160px;
        display: flex;
        justify-content: space-between;
        &-item {
            display: block;
        }
    }

    &__arrow {
        display: none;
        transition: all .5s;
    }

    &__market-place {
        width: 176px;
    }

    &__collectibles {
        width: 176px;
    }

    &__support {
        width: 176px;
    }

    &__legal {
        width: 176px;
    }

    &__follow-us {
        width: 176px;
    }

    &__title {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin-top: 18px;
        padding: 0;
        list-style: none;
        height: 188px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.5s;
        &-item {
        }
    }

    &__link {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15px;
        color: #d9dbe1;
        text-decoration: none;
        line-height: 27px;
        &:hover {
            color: white;
            span {
                color: #3af5ff;
            }
        }
        span {
            margin-left: 9px;
            font-family: 'MuseoModerno';
            font-weight: 400;
            font-size: 22px;
            top: 0;
            left: 0;
            color: #2ec5ce;
        }
    }

    &__license {
        margin-top: 27px;
        margin-bottom: 42px;
        height: 27px;
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #d9dbe1;
    }

    &__support-info {
        width: 354px;
        display: flex;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        color: #d9dbe1;
    }

    &__terms {
        padding-right: 9px;
        margin-right: 9px;
        border-right: solid;
        border-width: 1px;
        border-color: #d9dbe1;
        color: #d9dbe1;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }

    &__policy {
        padding-right: 9px;
        margin-right: 9px;
        border-right: solid;
        border-width: 1px;
        border-color: #d9dbe1;
        color: #d9dbe1;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }

    &__sitemap {
        color: #d9dbe1;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
}
.divider {
    background: #ffffff;
    opacity: 0.2;
    width: 100%;
    height: 1.11px;
}

.show {
    height: 188px !important;
}
.rotate {
    transform: rotate(180deg);
}

@media (min-width: 375px) and (max-width: 425px) {
    .footer {
        padding: 0 25px 97px;

        &__wrapper {
            padding: 30px 0 0;
            flex-direction: column;
        }

        &__info {
            width: 325px;
        }

        &__logo {
            &-title {
            }
        }

        &__text {
            width: 100%;
        }

        &__social {
            margin-bottom: 50px;
            &-item {
            }
        }

        &__arrow {
            display: block;
        }

        &__market-place {
            width: 100%;
        }

        &__collectibles {
            width: 100%;
        }

        &__support {
            width: 100%;
        }

        &__legal {
            width: 100%;
        }

        &__follow-us {
            width: 100%;
        }

        &__list {
            align-items: center;
            overflow: hidden;
            height: 2px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        &__license {
            margin: 0;
            margin-top: 22px;
            height: auto;
            flex-direction: column-reverse;
        }

        &__copyright {
            margin-top: 37px;
            text-align: center;
        }

        &__support-info {
            width: 100%;
            justify-content: space-around;
        }

        &__terms {
            border: none;
            margin: 0;
            padding: 0;
        }

        &__policy {
            border: none;
            margin: 0;
            padding: 0;
        }

        &__sitemap {
            display: none;
        }

        .divider {
            &__dissable {
                display: none;
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 575px) {
    .footer {
        padding: 0 25px 97px;

        &__wrapper {
            padding: 30px 0 0;
            flex-direction: column;
        }

        &__info {
            width: 325px;
        }

        &__logo {
            &-title {
            }
        }

        &__text {
            width: 100%;
        }

        &__social {
            margin-bottom: 50px;
            &-item {
            }
        }

        &__arrow {
            display: block;
        }

        &__market-place {
            width: 100%;
        }

        &__collectibles {
            width: 100%;
        }

        &__support {
            width: 100%;
        }

        &__legal {
            width: 100%;
        }

        &__follow-us {
            width: 100%;
        }

        &__list {
            align-items: center;
            overflow: hidden;
            height: 2px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        &__license {
            margin: 0;
            margin-top: 22px;
            height: auto;
            flex-direction: column-reverse;
        }

        &__copyright {
            margin-top: 37px;
            text-align: center;
        }

        &__support-info {
            width: 100%;
            justify-content: space-around;
        }

        &__terms {
            border: none;
            margin: 0;
            padding: 0;
        }

        &__policy {
            border: none;
            margin: 0;
            padding: 0;
        }

        &__sitemap {
            display: none;
        }

        .divider {
            &__dissable {
                display: none;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .footer {
        padding: 0 25px 97px;

        &__wrapper {
            padding: 30px 0 0;
            flex-direction: column;
        }

        &__info {
            width: 80%;
        }

        &__logo {
            &-title {
            }
        }

        &__text {
            width: 100%;
        }

        &__social {
            margin-bottom: 50px;
            &-item {
            }
        }

        &__arrow {
            display: block;
        }

        &__market-place {
            width: 100%;
        }

        &__collectibles {
            width: 100%;
        }

        &__support {
            width: 100%;
        }

        &__legal {
            width: 100%;
        }

        &__follow-us {
            width: 100%;
        }

        &__list {
            align-items: center;
            overflow: hidden;
            height: 2px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        &__license {
            margin: 0;
            margin-top: 22px;
            height: auto;
            flex-direction: column-reverse;
        }

        &__copyright {
            margin-top: 37px;
            text-align: center;
        }

        &__support-info {
            width: 100%;
            justify-content: space-around;
        }

        &__terms {
            border: none;
            margin: 0;
            padding: 0;
        }

        &__policy {
            border: none;
            margin: 0;
            padding: 0;
        }

        &__sitemap {
            display: none;
        }

        .divider {
            &__dissable {
                display: none;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .footer {
        padding: 0 25px 97px;

        &__wrapper {
            padding: 30px 0 0;
            flex-direction: column;
        }

        &__info {
            width: 80%;
        }

        &__logo {
            &-title {
            }
        }

        &__text {
            width: 100%;
        }

        &__social {
            margin-bottom: 50px;
            &-item {
            }
        }

        &__arrow {
            display: block;
        }

        &__market-place {
            width: 100%;
        }

        &__collectibles {
            width: 100%;
        }

        &__support {
            width: 100%;
        }

        &__legal {
            width: 100%;
        }

        &__follow-us {
            width: 100%;
        }

        &__list {
            align-items: center;
            overflow: hidden;
            height: 2px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        &__license {
            margin: 0;
            margin-top: 22px;
            height: auto;
            flex-direction: column-reverse;
        }

        &__copyright {
            margin-top: 37px;
            text-align: center;
        }

        &__support-info {
            width: 100%;
            justify-content: space-around;
        }

        &__terms {
            border: none;
            margin: 0;
            padding: 0;
        }

        &__policy {
            border: none;
            margin: 0;
            padding: 0;
        }

        &__sitemap {
            display: none;
        }

        .divider {
            &__dissable {
                display: none;
            }
        }
    }
}
@media (min-width: 1025px) and (max-width: 1484px) {
    .footer {
        padding: 0 25px;

        &__info {
           min-width: 30%;
           max-width: 338px;
           margin-right: 5px;
        }

        &__logo {
            &-title {
            }
        }

        &__text {
            width: 100%;
        }

        &__social {
            margin-bottom: 50px;
            &-item {
            }
        }
    }
}
