.introduction {
    padding: 42px 103px 102px;

    &__content {
        padding-top: 105px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        width: 850px;
        height: 181px;
        font-family: 'League Spartan';
        font-weight: 500;
        font-size: 83px;
        span {
            background-image: linear-gradient(
                45deg,
                rgba(67, 165, 227, 1) 0%,
                rgba(255, 86, 246, 1) 25%,
                rgba(67, 165, 227, 1) 50%,
                rgba(255, 86, 246, 1) 75%,
                rgba(67, 165, 227, 1) 100%
            );
            background-size: 300%;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: move-bg 5s linear infinite alternate;
        }
    }

    &__subtitle {
        margin-top: 25px;
        width: 658px;
        font-family: 'Rajdhani';
        font-weight: 300;
        font-size: 26px;
    }

    &__action {
        margin-top: 44px;
        width: 436px;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-link {
            width: 148px;
            height: 26px;
            text-decoration: none;
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 20px;
            background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 300%;
            animation: move-bg 2s linear infinite alternate;
            animation-delay: 1.5s;
        }
    }

    &__btn {
        @include btn;
        @include btn-before;
        @include btn-after;
        width: 250px;
        height: 64px;
        clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 20px;
        padding-left: 33px;
        &::before {
            width: 300px;
            height: 300px;
            clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
            top: -118px;
            left: -25px;
        }
        &::after {
            width: 246px;
            height: 60px;
            clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
            top: 2px;
            left: 2px;
        }
        img {
            margin-left: 11px;
        }
    }

    &__group-info {
        margin-top: 68px;
        width: 480px;
        height: 70px;
        display: flex;
    }

    &__info {
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(255, 255, 255, 0.26);
        font-family: 'Aldrich';
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.221092px;
        &:nth-child(1) {
            padding-right: 15px;
        }
        &:nth-child(2) {
            padding-left: 40px;
            padding-right: 22px;
        }
        &:nth-child(3) {
            padding-left: 46px;
            border: none;
        }

        span {
            font-family: 'Rajdhani';
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 0.221092px;
        }
    }

    &__img {
        margin-top: 15px;
    }

    .profile-info {
        width: 336px;
        height: 181px;
        padding: 28px 21px 20px 23px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        position: absolute;
        right: 0px;
        bottom: 0px;
        border-radius: 8.84367px;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.1) -1.52%,
            rgba(255, 255, 255, 0.024) 104.35%
        );
        backdrop-filter: blur(30.4001px);
        clip-path: polygon(15% 0, 100% 0, 100% 99%, 0 100%, 0 15%);
        &__title {
            font-family: 'Rajdhani';
            font-weight: 700;
            font-size: 18px;
            line-height: 35px;
        }

        &__profile {
            width: 121px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 29px;
                height: 29px;
                margin-right: 3px;
            }
        }

        &__name {
            color: white;
            text-decoration: none;
            margin-right: 3px;
            font-size: 16px;
            &:hover {
                color: white;
            }
        }
        &__check {
            img {
                width: 13px;
                height: 13px;
            }
        }

        &__reserve {
            margin-top: 15px;
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 12px;
            color: #ffffff;
            opacity: 0.7;
        }

        &__price {
            margin-top: 12px;
            display: flex;
            align-items: center;
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 10px;
            transform: translateX(-5px);
            span {
                margin-left: 5px;
                font-family: 'Rajdhani';
                font-weight: 400;
                font-size: 11px;
                color: white;
                opacity: 0.7;
            }
        }

        &__timer-text {
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 12px;
            line-height: 35px;
            opacity: 0.7;
        }

        &__timer {
            width: 110px;
            display: flex;
            justify-content: space-between;
            &-hours,
            &-minutes,
            &-secundes {
                display: flex;
                flex-direction: column;
                font-family: 'Rajdhani';
                font-weight: 600;
                font-size: 18px;
            }
            span {
                font-family: 'Rajdhani';
                font-weight: 500;
                font-size: 12px;
                opacity: 0.7;
            }
        }

        &__btn {
            @include btn;
            @include btn-before;
            margin-top: 10px;
            width: 120px;
            height: 38px;
            border-radius: 2px;
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 18px;
            &::before {
                width: 124px;
                height: 42px;
                top: -2px;
                left: -2px;
                animation: none;
            }
            img {
                width: 24px;
                height: 9px;
            }
        }
    }
}
.header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 26px;
        display: flex;
        text-decoration: none;
        &-title {
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 20px;
            color: white;
            span {
                opacity: 0.6;
            }
        }
    }

    &__navigation {
        width: 460px;
        height: 48px;
    }

    &__list {
        margin: 0;
        padding: 11px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        &-item {
            height: 26px;
            a {
                color: white;
                text-decoration: none;
                font-family: 'Orbitron';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    &__action {
        width: 92px;
        display: flex;
        justify-content: space-between;
        &-cart {
            &:hover {
                transform: scale(1.1);
            }
        }
        &-profile {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@keyframes move-bg {
    0% {
        background-position: 10% 15%;
    }

    20% {
        background-position: 24% 21%;
    }
    40% {
        background-position: 43% 47%;
    }
    60% {
        background-position: 71% 65%;
    }
    80% {
        background-position: 85% 90%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .introduction {
        padding: 27px 34px;

        &__content {
            padding-top: 45px;
        }

        &__title {
            width: 291px;
            height: 161px;
            font-size: 42px;
        }

        &__subtitle {
            margin-top: 20px;
            width: 315px;
            font-size: 14px;
        }

        &__action {
            margin-top: 40px;
            width: 300px;
        }

        &__btn {
            width: 133px;
            height: 34px;
            font-size: 12px;
            padding: 0;
            &::before {
                width: 200px;
                height: 200px;
            }
            &::after {
                width: 129px;
                height: 30px;
            }
            img {
                margin-left: 4px;
                width: 27px;
                height: 8px;
            }
        }

        &__action-link {
            font-size: 14px;
        }

        &__group-info {
            margin-top: 40px;
            width: 300px;
            height: 43px;
        }

        &__info {
            font-size: 18px;
            border: none;
            span {
                font-size: 12px;
            }
        }

        &__img {
            margin-top: 58px;
            img {
                width: 324px;
            }
        }
    }
    .header {
        &__navigation {
            display: none;
        }

        &__action {
            justify-content: end;
        }

        &__action-cart {
            display: none;
        }

        &__action-profile {
            display: none;
        }
    }
    .profile-info {
        width: 324px !important;
        padding: 27px 20px 20px 22px !important;
        grid-template-columns: 142px 115px !important;
        &__title {
            width: 142px;
            font-size: 17px !important;
        }

        &__profile {
            img {
                width: 27px !important;
                height: 27px !important;
            }
        }

        &__name {
            font-size: 15px !important;
        }

        &__check {
            img {
                width: 12px !important;
                height: 13px !important;
            }
        }

        &__reserve {
            margin-top: 10px !important;
            font-size: 11px !important;
            width: 90px;
        }

        &__timer-text {
            font-size: 11px !important;
        }

        &__timer {
            &-hours,
            &-minutes,
            &-secundes {
                font-size: 17px !important;
            }
            span {
                font-size: 11px !important;
            }
        }

        &__btn {
            width: 115px !important;
            height: 36px !important;
            font-size: 17px !important;
            &::before {
                width: 119px !important;
                height: 40px !important;
            }
            img {
                width: 23px !important;
                height: 9px !important;
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 575px) {
    .introduction {
        padding: 27px 34px;

        &__content {
            padding-top: 30px;
            justify-content: center;
        }

        &__title {
            width: auto;
            height: auto;
            font-size: 46px;
        }

        &__subtitle {
            margin-top: 20px;
            width: auto;
            font-size: 20px;
        }

        &__action {
            margin: 40px auto;
            width: auto;
            &-link {
                font-size: 16px;
            }
        }

        &__btn {
            width: 175px;
            height: 54px;
            font-size: 16px;
            padding-left: 10px;
            &::before {
                width: 200px;
                height: 200px;
            }
            &::after {
                width: 171px;
                height: 50px;
            }
            img {
                margin-left: 5px;
                width: 27px;
                height: 10px;
            }
        }

        &__group-info {
            justify-content: center;
            width: auto;
            height: auto;
        }

        &__info {
            font-size: 20px;
            span {
                font-size: 16px;
            }
        }

        &__img {
            margin-top: 30px;
        }
    }
    .header {
        &__navigation {
            display: none;
        }

        &__action {
            justify-content: end;
        }

        &__action-cart {
            display: none;
        }

        &__action-profile {
            display: none;
        }
    }
    .profile-info {
        padding: 26px 20px 20px 20px !important;

        &__name {
            font-size: 14px !important;
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .introduction {
        padding: 27px 34px;

        &__content {
            padding-top: 30px;
            justify-content: center;
        }

        &__title {
            width: auto;
            height: auto;
            font-size: 48px;
        }

        &__subtitle {
            margin-top: 20px;
            width: auto;
            font-size: 20px;
        }

        &__action {
            margin: 40px auto;
            &-link {
                font-size: 18px;
            }
        }

        &__btn {
            width: 200px;
            height: 58px;
            font-size: 18px;
            &::after {
                width: 196px;
                height: 54px;
            }
        }

        &__group-info {
            justify-content: center;
            width: auto;
            height: auto;
        }

        &__info {
            font-size: 22px;
        }

        &__img {
            margin-top: 30px;
        }
    }
    .header {
        &__navigation {
            display: none;
        }

        &__action {
            justify-content: end;
        }

        &__action-cart {
            display: none;
        }

        &__action-profile {
            display: none;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .introduction {
        padding: 27px 34px;

        &__content {
            padding-top: 30px;
            flex-wrap: nowrap;
        }

        &__title {
            width: 370px;
            height: auto;
            font-size: 48px;
        }

        &__subtitle {
            margin-top: 20px;
            width: 350px;
            font-size: 20px;
        }

        &__action {
            margin: 40px 0;
            width: 360px;
            &-link {
                font-size: 18px;
            }
        }

        &__btn {
            width: 200px;
            height: 58px;
            font-size: 18px;
            &::after {
                width: 196px;
                height: 54px;
            }
        }

        &__group-info {
            width: 340px;
            height: auto;
        }

        &__info {
            font-size: 22px;
        }

        &__img {
            margin-top: 30px;
        }
    }
    .header {
        &__navigation {
            display: none;
        }

        &__action {
            justify-content: end;
        }

        &__action-cart {
            display: none;
        }

        &__action-profile {
            display: none;
        }
    }
}
@media (min-width: 1025px) and (max-width: 1470px) {
    .introduction {
        padding: 27px 34px;

        &__content {
            padding-top: 30px;
            flex-wrap: nowrap;
        }

        &__title {
            min-width: auto;
            max-width: 850px;
            height: auto;
            font-size: 48px;
        }

        &__subtitle {
            margin-top: 20px;
            width: 350px;
            font-size: 20px;
        }

        &__action {
            margin: 40px 0;
            width: 360px;
            &-link {
                font-size: 18px;
            }
        }

        &__btn {
            width: 200px;
            height: 58px;
            font-size: 18px;
            &::after {
                width: 196px;
                height: 54px;
            }
        }

        &__group-info {
            width: 340px;
            height: auto;
        }

        &__info {
            font-size: 22px;
        }

        &__img {
            margin-top: 30px;
        }
    }
}
