.partners {
    padding: 0 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-row: 2/3;
    grid-column: 1/3;
    &__partner {
        padding: 10px 0;
        img {
        }
    }
}
@media (min-width: 320px) and (max-width: 374px) {
    .partners {
        padding: 0 30px;
        justify-content: flex-start;
        &__partner {
            padding: 5px 0;
            img {
                height: 22px;
            }
            &:first-child {
                margin-left: 7px;
            }
            &:nth-child(2) {
                margin-left: 30px;
            }
            &:last-child {
                margin-left: 12px;
                img {
                    height: 17px;
                }
            }
        }
    }
}
@media (min-width: 375px) and (max-width: 425px) {
    .partners {
        padding: 0;
        justify-content: flex-start;
        grid-row: 2/3;
        &__partner {
            padding: 5px 0;
            img {
                height: 25px;
            }
            &:first-child {
                margin-left: 7px;
            }
            &:nth-child(2) {
                margin-left: 55px;
            }
            &:last-child {
                margin-left: 26px;
                img {
                    height: 17px;
                }
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 575px) {
    .partners {
        width: 358px;
        margin: 0 auto;
        padding: 0;
        justify-content: flex-start;
        grid-row: 2/3;
        &__partner {
            padding: 5px 0;
            img {
                height: 25px;
            }
            &:first-child {
                margin-left: 7px;
            }
            &:nth-child(2) {
                margin-left: 55px;
            }
            &:last-child {
                margin-left: 26px;
                img {
                    height: 17px;
                }
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 834px) {
    .partners {
        width: 430px;
        margin: 0 auto;
        padding: 0 30px;
        justify-content: flex-start;
        grid-row: 2/3;
        &__partner {
            padding: 5px 10px;
            img {
                height: 30px;
            }
            &:first-child {
                margin-left: 7px;
            }
            &:nth-child(2) {
                margin-left: 55px;
            }
            &:last-child {
                margin-left: 26px;
                img {
                    height: 17px;
                }
            }
        }
    }
}
@media (min-width: 835px) and (max-width: 889px) {
    .partners {
        padding: 0 30px;
        justify-content: space-around;
        &__partner {
            padding: 10px 10px;
            img {
                height: 28px;
            }
        }
    }
}
@media (min-width: 890px) and (max-width: 1319px) {
    .partners {
        padding: 0 30px;
        justify-content: space-around;
        &__partner {
            padding: 10px 10px;
            img {
                height: 32px;
            }
        }
    }
}
@media (min-width: 1320px) and (max-width: 1484px) {
    .partners {
        justify-content: space-around;
        &__partner {
            padding: 10px 20px;
            img {
                height: 46px;
            }
            &:last-child{
                img {
                    height: 32px;
                }
            }
        }
    }
}
