.people-profile {
    padding: 160px 106px 0 109px;
    overflow: hidden;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__top-text {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 27px;
    }

    &__top-link {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 27px;
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
        }
        img {
            margin-left: 17px;
            width: 52px;
            height: 27px;
            animation: shakeArrow 1s linear infinite alternate;
        }
    }

    &__group {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
    }

    &__group-item {
        width: 438px;
        height: 565px;
        position: relative;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.1) -1.52%,
            rgba(255, 255, 255, 0.024) 104.35%
        );
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(
                145.77deg,
                rgba(255, 255, 255, 0.28) 0%,
                rgba(255, 255, 255, 0) 105.76%
            )
            1;
        &:hover {
            transform: scale(1.005);
        }
    }

    &__logo {
        width: 100%;
        height: 206px;
        background: url('../img/profile_bg.png') center center/cover no-repeat;
        img {
            position: absolute;
            top: 28%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__info {
        padding: 50px 40px 40px;
    }

    &__name {
        font-family: 'Rajdhani';
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }

    &__link {
        display: block;
        font-family: 'Rajdhani';
        font-weight: 400;
        font-size: 20px;
        color: #ffb1ee;
        text-align: center;
        text-decoration: none;
        &:hover {
            color: #ffb1ee;
        }
        img {
            width: 16px;
            height: 17px;
        }
    }

    &__data {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__folowers {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Rajdhani';
        font-weight: 600;
        font-size: 32px;
        span {
            font-family: 'Rajdhani';
            font-weight: 500;
            font-size: 20px;
            opacity: 0.7;
        }
    }

    &__following {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Rajdhani';
        font-weight: 600;
        font-size: 32px;
        span {
            font-family: 'Rajdhani';
            font-weight: 500;
            font-size: 20px;
            opacity: 0.7;
        }
    }

    &__artworks {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Rajdhani';
        font-weight: 600;
        font-size: 32px;
        span {
            font-family: 'Rajdhani';
            font-weight: 500;
            font-size: 20px;
            opacity: 0.7;
        }
    }

    &__btn {
        @include btn;
        @include btn-before;
        margin: 43px auto 0;
        width: 230px;
        height: 51px;
        display: block;
        font-family: 'Rajdhani';
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        &::before {
            width: 234px;
            height: 55px;
            top: -2px;
            left: -2px;
            animation: none;
        }
    }
    &__btn-exp {
        @include btn;
        @include btn-before;
        @include btn-after;
        display: none;
        margin: 40px auto;
        width: 133px;
        height: 34px;
        clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        &::before {
            width: 200px;
            height: 200px;
            clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
            top: -118px;
            left: -25px;
            animation: none;
        }
        &::after {
            width: 129px;
            height: 30px;
            background: #251145;
            clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
            top: 2px;
            left: 2px;
        }
        img {
            width: 28px;
            height: 8px;
        }
    }
}
@media (min-width: 320px) and (max-width: 374px) {
    .people-profile {
        padding: 110px 0 0 25px;

        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 18px;
            line-height: 23px;
        }

        &__top-link {
            display: none;
        }

        &__group {
            margin-top: 30px;
            width: 252px;
        }

        &__group-item {
            width: 252px !important;
            height: 391px;
        }

        &__logo {
            height: 142px;
            img {
                top: 33%;
                width: 112px;
                height: 112px;
            }
        }

        &__info {
            padding: 52px 27px 28px;
        }

        &__name {
            font-size: 17px;
        }

        &__link {
            font-size: 14px;
            img {
                width: 11px;
                height: 12px;
            }
        }

        &__data {
            margin-top: 5px;
        }

        &__folowers {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__following {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__artworks {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__btn {
            margin-top: 20px;
            width: 162px;
            height: 36px;
            &::before {
                width: 166px;
                height: 40px;
            }
            &-exp {
                display: block;
            }
        }
        .swiper {
            margin-left: 0;
            &-wrapper {
                width: 252px;
            }
        }
    }
}
@media (min-width: 375px) and (max-width: 425px) {
    .people-profile {
        padding: 110px 0 0 25px;

        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 18px;
            line-height: 23px;
        }

        &__top-link {
            display: none;
        }

        &__group {
            margin-top: 30px;
            width: 304px;
        }

        &__group-item {
            width: 304px !important;
            height: 391px;
        }

        &__logo {
            height: 142px;
            img {
                top: 33%;
                width: 112px;
                height: 112px;
            }
        }

        &__info {
            padding: 52px 27px 28px;
        }

        &__name {
            font-size: 17px;
        }

        &__link {
            font-size: 14px;
            img {
                width: 11px;
                height: 12px;
            }
        }

        &__data {
            margin-top: 5px;
        }

        &__folowers {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__following {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__artworks {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__btn {
            margin-top: 20px;
            width: 162px;
            height: 36px;
            &::before {
                width: 166px;
                height: 40px;
            }
            &-exp {
                display: block;
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 575px) {
    .people-profile {
        padding: 110px 0 0 25px;
        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 18px;
            line-height: 23px;
        }

        &__top-link {
            display: none;
        }

        &__group {
            margin-top: 30px;
            width: 303px;
        }

        &__group-item {
            width: 303px;
            height: 391px;
        }

        &__logo {
            height: 142px;
            img {
                top: 33%;
                width: 112px;
                height: 112px;
            }
        }

        &__info {
            padding: 52px 27px 28px;
        }

        &__name {
            font-size: 17px;
        }

        &__link {
            font-size: 14px;
            img {
                width: 11px;
                height: 12px;
            }
        }

        &__data {
            margin-top: 5px;
        }

        &__folowers {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__following {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__artworks {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__btn {
            margin-top: 20px;
            width: 162px;
            height: 36px;
            &::before {
                width: 166px;
                height: 40px;
            }
            &-exp {
                display: block;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .people-profile {
        padding: 110px 40px 0;
        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 18px;
            line-height: 23px;
        }

        &__top-link {
            display: none;
        }

        &__group {
            margin-top: 30px;
            width: 304px;
            justify-content: center;
        }

        &__group-item {
            width: 303px;
            height: 391px;
        }

        &__logo {
            height: 142px;
            img {
                top: 33%;
                width: 112px;
                height: 112px;
            }
        }

        &__info {
            padding: 52px 27px 28px;
        }

        &__name {
            font-size: 17px;
        }

        &__link {
            font-size: 14px;
            img {
                width: 11px;
                height: 12px;
            }
        }

        &__data {
            margin-top: 5px;
        }

        &__folowers {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__following {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__artworks {
            font-size: 22px;
            span {
                font-size: 14px;
            }
        }

        &__btn {
            margin-top: 20px;
            width: 162px;
            height: 36px;
            &::before {
                width: 166px;
                height: 40px;
            }
            &-exp {
                display: block;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .people-profile {
        padding: 110px 50px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 19px;
            line-height: 23px;
        }

        &__top-link {
            display: none;
        }

        &__group {
            width: 100%;
            margin-top: 30px;
            align-self: center;
        }
        &__btn {
        }
    }
}
@media (min-width: 1025px) and (max-width: 1484px) {
    .people-profile {
        padding: 110px 25px 0;

        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 19px;
            line-height: 23px;
        }

        &__top-link {
            display: none;
        }

        &__group {
            margin-top: 30px;
            width: 958px;
        }
        &__btn {
        }
    }
}
