.profile-info {
    width: 334px;
    height: 177px;
    box-sizing: border-box;
    position: relative;
    border-radius: 8.84367px;
    backdrop-filter: blur(30.4001px);
    clip-path: polygon(15% 0, 100% 0, 100% 99%, 0 100%, 0 15%);
    &::after {
        content: '';
        width: 338px;
        height: 181px;
        position: absolute;
        top: -2px;
        left: -2px;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.1) -1.52%,
            rgba(255, 255, 255, 0.024) 104.35%
        );
        z-index: -1;
        clip-path: polygon(15% 0, 100% 0, 100% 99%, 0 100%, 0 15%);
        border-radius: 8.84367px;
    }

    &__title {
    }

    &__profile {
    }

    &__name {
    }

    &__reserve {
    }

    &__price {
    }

    &__timer-text {
    }

    &__timer {
    }

    &__btn {
    }
}
.check {
}
