.rating {
    padding: 217px 107px 0 109px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__top-text {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 27px;
    }

    &__top-link {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 27px;
        color: white;
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
            color: white;
        }
        img {
            margin-left: 17px;
            transition: all 0.5s;
            animation: shakeArrow 1s linear infinite alternate;
        }
    }

    &__collection {
        margin-top: 47px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__collection-item {
        width: 438px;
        padding: 0 5px;
        &:hover {
            transform: scale(1.005);
        }
    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__btn {
        @include btn;
        @include btn-before;
        @include btn-after;
        display: none;
        margin: 40px auto;
        width: 133px;
        height: 34px;
        clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        &::before {
            width: 200px;
            height: 200px;
            clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
            top: -118px;
            left: -25px;
            animation: none;
        }
        &::after {
            width: 129px;
            height: 30px;
            background: #251145;
            clip-path: polygon(18% 0, 100% 0, 100% 81%, 83% 100%, 0 100%, 0 17%);
            top: 2px;
            left: 2px;
        }
        img {
            width: 28px;
            height: 8px;
        }
    }

    .profile-info {
        width: 100%;
        height: 236px;
        padding: 36px 27px 26px 31px;
        display: grid;
        grid-template-columns: 210px 1fr;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.1) -1.52%,
            rgba(255, 255, 255, 0.024) 104.35%
        );
        backdrop-filter: blur(39.6002px);
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(
                145.77deg,
                rgba(255, 255, 255, 0.28) 0%,
                rgba(255, 255, 255, 0) 105.76%
            )
            1;

        &__title {
            font-family: 'Rajdhani';
            font-weight: 700;
            font-size: 23px;
            line-height: 46px;
        }

        &__profile {
            width: 158px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 37px;
                height: 37px;
            }
        }

        &__name {
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 20px;
            line-height: 46px;
            color: white;
            text-decoration: none;
            &:hover {
                color: white;
            }
        }

        &__check {
            img {
                width: 16px;
                height: 17px;
            }
        }

        &__reserve {
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 14px;
            line-height: 46px;
            opacity: 0.7;
        }

        &__price {
            display: flex;
            align-items: center;
            font-family: 'Orbitron';
            font-weight: 700;
            font-size: 13px;
            transform: translateX(-5px);
            span {
                margin-left: 7px;
                font-family: 'Rajdhani';
                font-weight: 400;
                font-size: 14px;
                opacity: 0.7;
            }
        }

        &__timer-text {
            margin-left: 10px;
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 14px;
            line-height: 46px;
            opacity: 0.7;
        }

        &__timer {
            margin-left: 10px;
            width: 143px;
            display: flex;
            justify-content: space-between;
            &-hours,
            &-minutes,
            &-seconds {
                font-family: 'Rajdhani';
                font-weight: 500;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);
            }
            span {
                display: flex;
                flex-direction: column;
                font-family: 'Rajdhani';
                font-weight: 600;
                font-size: 23px;
            }
        }

        &__btn {
            @include btn;
            @include btn-before;
            margin-top: 25px;
            padding: 10px 0 10px 13px;
            width: 156px;
            height: 49px;
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 23px;
            &::before {
                width: 160px;
                height: 53px;
                top: -2px;
                left: -2px;
                animation: none;
            }
            img {
                margin-left: 5px;
                width: 32px;
                height: 12px;
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .rating {
        padding: 108px 40px 0;

        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 16px;
        }

        &__top-link {
            display: none;
        }

        &__collection {
            margin-top: 32px;
            &-item {
                padding: 0;
                width: 304px;
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }

        &__btn {
            display: block;
        }
    }
    .profile-info {
        width: 100% !important;
        padding: 25px 19px 18px 21px !important;
        height: 163px !important;
        grid-template-columns: 130px 120px !important;
        &__title {
            font-size: 14px !important;
            line-height: 27px !important;
        }

        &__profile {
            width: 110px !important;
        }

        &__name {
            font-size: 12px !important;
            line-height: 27px !important;
        }

        &__check {
        }

        &__reserve {
            font-size: 9px !important;
            line-height: 27px !important;
        }

        &__price {
            font-size: 8px !important;
            img {
                width: 18px;
                height: 18px;
            }
            span {
                font-size: 9px !important;
            }
        }

        &__timer-text {
            font-size: 9px !important;
            line-height: 27px !important;
        }

        &__timer {
            width: 100px !important;
            &-hours {
                font-size: 9px !important;
            }
            &-minutes {
                font-size: 9px !important;
            }
            &-seconds {
                font-size: 9px !important;
            }
            span {
                font-size: 14px !important;
            }
        }

        &__btn {
            margin-top: 18px !important;
            margin-left: 5px !important;
            width: 108px !important;
            height: 34px !important;
            font-size: 14px !important;
            padding: 0 !important;
            &::before {
                width: 112px !important;
                height: 38px !important;
            }
        }
    }
}
@media (min-width: 426px) and (max-width: 575px) {
    .rating {
        padding: 90px 27px 0 25px !important;

        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 16px;
        }

        &__top-link {
            display: none;
        }

        &__collection {
            margin-top: 32px;
            width: 323px !important;
            &-item {
                margin-right: 5px;
                &:last-child {
                    margin: 0;
                }
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }

        &__btn {
            display: block;
        }

        .profile-info {
            width: 100% !important;
            padding: 25px 19px 18px 21px !important;
            height: 163px !important;
            grid-template-columns: 160px 1fr !important;
            &__title {
                font-size: 14px !important;
                line-height: 27px !important;
            }

            &__profile {
                width: 110px !important;
            }

            &__name {
                font-size: 12px !important;
                line-height: 27px !important;
            }

            &__check {
            }

            &__reserve {
                font-size: 9px !important;
                line-height: 27px !important;
            }

            &__price {
                font-size: 8px !important;
                img {
                    width: 18px;
                    height: 18px;
                }
                span {
                    font-size: 9px !important;
                }
            }

            &__timer-text {
                font-size: 9px !important;
                line-height: 27px !important;
            }

            &__timer {
                width: 100px !important;
                &-hours {
                    font-size: 9px !important;
                }
                &-minutes {
                    font-size: 9px !important;
                }
                &-seconds {
                    font-size: 9px !important;
                }
                span {
                    font-size: 14px !important;
                }
            }

            &__btn {
                margin-top: 18px !important;
                margin-left: 8px !important;
                width: 108px !important;
                height: 34px !important;
                font-size: 14px !important;
                padding: 0 !important;
                &::before {
                    width: 112px !important;
                    height: 38px !important;
                }
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .rating {
        padding: 90px 50px 0 !important;

        &__top {
            justify-content: start;
        }

        &__top-text {
            font-size: 16px;
        }

        &__top-link {
            display: none;
        }

        &__collection {
            margin-top: 32px;
            width: 323px !important;
            justify-content: space-between !important;
            &-item {
                margin-right: 5px;
                &:last-child {
                    margin: 0;
                }
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }

        &__btn {
            display: block;
        }

        .profile-info {
            width: 100% !important;
            padding: 25px 19px 18px 21px !important;
            height: 163px !important;
            grid-template-columns: 160px 1fr !important;
            &__title {
                font-size: 14px !important;
                line-height: 27px !important;
            }

            &__profile {
                width: 110px !important;
            }

            &__name {
                font-size: 12px !important;
                line-height: 27px !important;
            }

            &__check {
            }

            &__reserve {
                font-size: 9px !important;
                line-height: 27px !important;
            }

            &__price {
                font-size: 8px !important;
                img {
                    width: 18px;
                    height: 18px;
                }
                span {
                    font-size: 9px !important;
                }
            }

            &__timer-text {
                font-size: 9px !important;
                line-height: 27px !important;
            }

            &__timer {
                width: 100px !important;
                &-hours {
                    font-size: 9px !important;
                }
                &-minutes {
                    font-size: 9px !important;
                }
                &-seconds {
                    font-size: 9px !important;
                }
                span {
                    font-size: 14px !important;
                }
            }

            &__btn {
                margin-top: 18px !important;
                margin-left: 8px !important;
                width: 108px !important;
                height: 34px !important;
                font-size: 14px !important;
                padding: 0 !important;
                &::before {
                    width: 112px !important;
                    height: 38px !important;
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .rating {
        padding: 90px 50px 0 !important;

        &__top-text {
            font-size: 16px;
        }

        &__top-link {
            font-size: 16px;
            img {
                width: 32px;
                height: 10px;
            }
        }

        &__collection {
            margin-top: 32px;
            width: 646px !important;
            justify-content: space-between !important;
            &-item {
                margin-right: 5px;
                &:last-child {
                    margin: 0;
                }
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }
    }
}
@media (min-width: 1025px) and (max-width: 1484px) {
    .rating {
        padding: 90px 50px 0 !important;

        &__top-text {
            font-size: 16px;
        }

        &__top-link {
            font-size: 16px;
            img {
                width: 32px;
                height: 10px;
            }
        }

        &__collection {
            margin-top: 32px;
            width: 100%;
            &-item {
                margin-right: 5px;
                &:last-child {
                    margin: 0;
                }
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }
    }
}
