.sellers {
    padding: 160px 110px 0;

    &__title {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 27px;
        text-align: center;
    }

    &__subtitle {
        width: 506px;
        margin: 23px auto 0;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }

    &__group {
        height: 600px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        &-item {
            width: 437px;
            height: 123px;
            display: flex;
            align-items: center;
            padding: 27px 20px 27px 30px;
            position: relative;
            border-radius: 29px;
            border: 3px solid rgba(255, 255, 255, 0.2);
            &:hover {
                border-color: rgba(255, 255, 255, 0.5);
            }
        }
        &-number {
            width: 18px;
            text-align: center;
        }
        &-img {
            margin-left: 17px;
            width: 70px;
            height: 70px;
        }
    }

    &__data {
        width: 160px;
        margin-left: 13px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    &__name {
        width: 160px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 19px;
    }

    &__eth {
        margin-top: 8px;
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        opacity: 0.8;
        img {
            width: 16px;
            height: 16px;
        }
    }

    &__perc {
        padding: 7px 17px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 15px;
        color: #00ff66;
        background: rgba(0, 179, 71, 0.15);
        border-radius: 18px;
        border: 1px solid rgba(0, 179, 71, 0.5);
        &__negativ {
            color: #ff0000;
            background: linear-gradient(
                180deg,
                rgba(235, 20, 20, 0.15) 0%,
                rgba(235, 20, 20, 0.1005) 100%
            );
            border: 1px solid rgba(255, 0, 0, 0.5);
        }
    }

    &__btn {
        @include btn;
        @include btn-before;
        margin: 62px auto 0;
        display: block;
        width: 235px;
        height: 51px;
        font-family: 'Rajdhani';
        font-weight: 600;
        font-size: 20px;
        &::before {
            width: 239px;
            height: 55px;
            top: -2px;
            left: -2px;
            animation: none;
        }
    }
}
